html {
    --section-background-color: linear-gradient(to bottom left,
            rgba(17, 16, 16, 0.582),
            rgba(12, 8, 24, 0.904));

    --image-gradient: linear-gradient(to bottom left,
            rgba(17, 16, 16, 0.678),
            rgba(12, 10, 22, 0.863));
    --imp-text-color: #c770f0;
    /* overflow-x: hidden; */
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
}

/*  
    Galaxy background
*/

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

.stars,
.twinkling,
.purple-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: -10;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: -5;

    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

/*
    Purple overlay and shapes 
*/
.purple-overlay {
    z-index: -1;
    /* background-image: linear-gradient(270deg, rgb(27, 20, 41,0.3), rgb(20, 15, 35,0.5)); */
    background-image: linear-gradient(to bottom left,
    rgba(27, 22, 31, 0.678),
    rgba(12, 10, 22, 0.863));
    filter: blur(2px);
        -webkit-filter: blur(2px);
   
} 

#first-circle{
    position: absolute;
    bottom:-7rem;
    left:-15rem;
    /* background-color:  rgb(30, 16, 43); */
    background-color : #984CCE5E;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -2;
}

#second-circle{
    position:absolute;
    top:8rem;
    left:15rem;
    /* background: rgb(35, 16, 51); */
    background-color: #984CCE5E;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: -2;
    opacity: 0.2;
}

#third-circle{
    position:absolute;
    top:-10rem;
    right:-6rem;
    /* background: rgb(44, 37, 73);
     */
    background-color: #8f39cc5e;
    opacity: 0.2;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: -2;
    opacity: 0.4;
    transform: skewY(220deg);
    transform-origin: top ;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2d1950;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(178, 121, 216, 0.959);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 130, 235, 0.911);
    border-radius: 12px;
  }
